@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
html {
	font-family: 'Karla', sans-serif;
	font-size: calc(20vw/20);
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	background-color: #e9f4f7;
}

.container {
	/*margin-left: 2.5vw;*/
	/*margin-top: -6vh;*/
	transform: scale(0.8);
}
table.periodic {
	margin-top: 0;
	max-width: 100vw;
	position: relative;
	box-sizing: border-box;
}
td div:nth-child(1) {
	width: calc(90vw/18);
}
        
table.periodic > tbody > tr > td {
	border-radius: 0px;
	padding: 0;
}
table.periodic-1 {
	margin-left: 0;
}
        
table.periodic-1 > tbody > tr > td {
	border-radius: 0px;
	padding: 0;
}

.col {
	font-size: 1.3em;
	text-align: center;
	vertical-align: bottom;
}

.number {
	text-align: left;
	font-size: 1em;
	padding-left: 3px;
}

.symbol {
	font-size: 2.2em;
	font-weight: bold;
	text-align: center;
}
        
.name {
	font-size: 0.7em;
	text-align: center;
    font-weight: normal;
}
        
.mass {
	font-size: 0.8em;
	text-align: center;
}

.element:hover {
	box-shadow: inset 0 0 1000px rgba(255, 255, 255, 0.2);
	cursor: pointer;
	transition: 0.5s;
}

.tdinvisible {
	border: 0px;
}
        
.alkali {
	background-color: #e3778e;
}
        
.alkaline {
	background-color: #e3778e;
}
        
.transmetal {
	background-color: #3ac2d3;
}

.basicmetal, .semimetal, .nonmetal, .halogen, .noblegas {
	background-color: #f1d861;
}

.helium {
    background-color:#e3778e !important;
}

.lanthanide {
	background-color: #a1d4a2;
}
        
.actinide {
	background-color: #7cb683;
}
        
.group {
	font-size: 0.8em;
	text-align: center;
}
       
.radioactivity {
	position: absolute;
	height: 15px;
}

.semimetal {
    background-image: url(media/semimetal.png) ;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.mark {
    font-size: 0;
}
.radio {
    background-image: url(media\radioactive.png);
    background-repeat: no-repeat;
	background-position: right top
	/*color: aqua;*/
}
.separate {
    background-color: #3ac2d3;
}
.lanthanum, .actinium {
    background-color: #3ac2d3 !important;
}
.key {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.key td div:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(90vw/18);
	height: calc(90vw/18);
}